@import "tailwindcss";

@font-face {
  font-family: "IntroRust";
  src: url("/IntroRust.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GlacialIndifference";
  src: url("/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden !important;
  background: #191919;
  color: #fffff0;
  font-family: "GlacialIndifference", sans-serif;
  margin: 0;
}
